@import url("./../../App.css");

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}

.bg {
  /* background-color:white; */
  background: linear-gradient(to bottom,#2C3E50 0%, #000000 100%);
  min-height: 100vh;
  /* color: rgb(4, 4, 4); */
  color: white;
}

.alert {
  position: absolute;
  background-color: #84b9ff;
  text-align: center;
  width: 100%;
  padding-top: 1.5vh;
  padding-bottom: 1.75vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: var(--text-white);
  position: sticky;
  top: 0;
  z-index: 10;
}

.contact-link {
  text-decoration: 3px dotted underline white;
  text-underline-offset: 3px;
  padding-left: 5px;
  padding-right: 5px;
  transition-duration: 0.25s;
}

.contact-link:hover {
  background-color: rgba(255, 255, 255, 0.262);  
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.close-btn {
  position: absolute;
  right: 5%;
}

.about-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.about-title {
  margin-bottom: 4vh;
}

.name {
  color: #84b9ff;
  font-weight: 700;
  
}
.about-text-desc{
  animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}


.icons {
  font-size: 2.75rem;
  color: rgb(141, 145, 176);
  display: flex;
  flex-direction: row;
  transition-duration: 0.4s;
  margin-top: 3.5vh;
  margin-bottom: 3.5vh;
}

.icon {
  margin-right: 1.75vh;
  transition-duration: 0.2s;
}

.icon:hover{
  color: #84b9ff;
  transform: scale(1.25);
  transition-duration: 0.2s;
}

.avatar {
  height: 55vh;
  background-color: rgb(252, 250, 250);
  border-radius: 50%;
  padding: 0.5rem;
  box-shadow: 80px 30px  #84b9ff;
  transition-duration: 0.25s;
}

.avatar:hover{
  transform: translate(80px, 30px);
  box-shadow: none;
  transition-duration: 0.25s;
}

.about-avatar {
  padding-top: 18vh;
}

.about-text {
  margin-top: 20vh;
}
.resume{
  margin-left: 5%;
}


.bottom-icon {
  font-size: 2.5rem;
  font-weight: 800;
  width: fit-content;
  position: absolute;
  top: 200%;
  left: 50%;
  margin-top: 5vh;
  
  
}

.icon-wrapper {
  position: relative;
  
}

.about-text-desc {
  word-wrap: break-word;
  width: 50vw;
}

.follow-me-link {
  margin-left: 20px;
}


@media only screen and (max-width: 1250px) {
  .bg {
    padding-left: 6vw;
    padding-right: 6vw;
  }

  .about-wrapper {
    flex-direction: column-reverse;
    margin-left: auto;
    margin-right: auto;
  }

  .about-avatar {
    padding-top: 7vh;
    margin-left: auto;
    margin-right: auto;
  }

  .avatar {
    height: 35vh;
    padding: 0.5rem;
    box-shadow: 50px 20px #84b9ff;
  }

  .about-text {
    margin-top: 6vh;
    padding-bottom: 10vh;
    text-align: center;
  }

  .icons {
    justify-content: center;
  }

  .abc {
    font-size: 6rem;
  }

  .about-text-desc {
    word-wrap: break-word;
    width: 90vw;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .alert {
    padding-top: 2.5vh;
    padding-bottom: 2.5vh;
  }
  
}